aside {
  height: 90vh;
  position: fixed;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sns-icon {
  width: 24;
  height: 24px;
}

#social-links-placeholder>ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
}

#page-controls-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#page-controls-container>button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.controls-icon {
  width: 28;
  height: 28px;
}