/* sanchez-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/sanchez-v15-latin-regular.woff2') format('woff2');
}

/* rubik-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/rubik-v28-latin-regular.woff2') format('woff2');
}

/* solway-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/solway-v18-latin-500.woff2') format('woff2');
}