/* sanchez-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/sanchez-v15-latin-regular.woff2') format('woff2');
}

/* rubik-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/rubik-v28-latin-regular.woff2') format('woff2');
}

/* solway-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Solway';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/solway-v18-latin-500.woff2') format('woff2');
}

.nav-label {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

h1 {
  font-family: "Solway", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
}

h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 8px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Solway", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  margin-top: 20px;
}

h3 {
  font-family: "Solway", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  margin-top: 20px;
}

h4 {
  font-family: "Solway", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  margin-top: 20px;
}

p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  margin-bottom: 12px;
  hyphens: auto;
  text-align: justify;
}