nav {
  position: fixed;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
}

#main-nav>ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#main-nav>ul>li>a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px;
}

.nav-icon {
  width: 28px;
  height: 28px;
}

#main-nav>ul>li.active {
  border: 2px solid black;
  border-radius: 10px;
}