nav {
  position: fixed;
  top: 50%;
  left: 6vw;
  transform: translateY(-50%);
}

#main-nav>ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#main-nav>ul>li>a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

#main-nav>ul>li:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
}

#main-nav>ul>li:hover>a>img {
  filter: invert(1);
}

.nav-icon {
  width: 28px;
  height: 28px;
}

#main-nav>ul>li.active {
  border: 2px solid black;
  border-radius: 10px;
}

.nav-label {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}