*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font-size: 16px;
}

html {
  font-size: var(--base-font-size);
}

body {
  /* 브라우저 기본 폰트를 쓰기 위해 주석 처리함 */
  /* font-family: 'FontName', sans-serif; */
  line-height: 1.8;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

kbd {
  font-family: monospace;
  padding: 0.1em 0.4em;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.7em;
  color: #333;
}